:root{
  --grey: #474747;
  --darkblue: #102544;
  --lightblue: #1879ca;
  --yellow: #f29206;
  --white: #ffffff;
  --palid: #d9d9d9;
  --greenSend:#5DF370;   
}


/*===== HOME ADMIN ====*/

.home-admin{
    text-align: center;
  }
  
  .home-admin ul{
    list-style: none;
  }
  
  .home-admin ul li{
    text-decoration: none;
    color: var(--darkblue);
    transition: none; 
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .home-admin ul li:hover{
    color: #1879ca;
  }

